<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CS301_GROUP.My.MySettings.Database_BUS_CSC301ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\Database BUS CSC301.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="CS301_GROUP.My.MySettings.DATABASE_BUS_STATION_CSC301ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\DATABASE BUS STATION CSC301.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="CS301_GROUP.My.MySettings.DATABASE_BUS_STATION__CSC_301ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\DATABASE BUS STATION  CSC 301.accdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>